{% extends 'authenticate/base.html' %}


{% block content %}
    <h1 class="text-center"> Changer le mot de passe :</h1>
    <br/><br/>

   
        <form method="POST" action="{% url 'change_password' %}">
            {% csrf_token %}
            {% if form.errors %}
                <div class="col-md-6 offset-md-3">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <p> Votre formulaire contient une erreur...</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {% for field in form %}
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        {% endfor %}    

                    <p> Votre formulaire contient une erreur...</p>
                </div>
                
            {% endif %}

            {{ form.as_p }}

            <input type="submit" value="Changer le mot de passe" class="btn btn-secondary">
        </form>
    </div>

{% endblock %}