{% extends 'authenticate/base.html' %}


{% block content %}
    <h1 class="text-center"> Enregistrement d'utilisateur :</h1>
    <br/><br/>

    <div class="col-md-6 offset-md-3">
        <form method="POST" action="{% url 'register'%}">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <p> Votre formulaire contient une erreur...</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}

        </div>

                <p> Votre formulaire contient une erreur...</p>
            {% endif %}

            {{ form.as_p }}

            <input type="submit" value="Enregister" class="btn btn-secondary">
        </form>
    </div>

{% endblock %}
